#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator, double_t, int_t, bool_t

gen = ParameterGenerator()

gen.add("debug_pid", bool_t, 0, " Emit speed limiter debug_pid topic", True)

grp_cc = gen.add_group("CutterCurrent", type="tab") 
grp_cc.add("enable_cc", bool_t, 0, " Enable Speed Limiting from Cutter Current", True)
grp_cc.add("mow_current_limit", double_t, 0, "Mow current at which to start limiting linear velocity", 2.5, 0, 5.0)
grp_cc.add("kp_cc", double_t, 0, "KP", 0.0, 0.0, 20.0)
grp_cc.add("ki_cc", double_t, 0, "KI", 0.2, 0.0, 5.0)
grp_cc.add("kd_cc", double_t, 0, "KD", 0.0, 0.0, 5.0)

grp_cs = gen.add_group("CutterSpeed", type="tab") 
grp_cs.add("enable_cs", bool_t, 0, " Enable Speed Limiting from Cutter Speed", True)
grp_cs.add("mow_erpm_limit", double_t, 0, "Mow eRPM at which to start limiting linear velocity", 5900, 0, 10000)
grp_cs.add("kp_cs", double_t, 0, "KP", 0.0, 0.0, 20.0)
grp_cs.add("ki_cs", double_t, 0, "KI", 0.2, 0.0, 5.0)
grp_cs.add("kd_cs", double_t, 0, "KD", 0.0, 0.0, 5.0)

grp_wdc = gen.add_group("WheelDutyCyle", type="tab") 
grp_wdc.add("enable_wdc", bool_t, 0, " Enable Speed Limiting from Wheel Duty Cycle", True)
grp_wdc.add("wheel_dc_limit", double_t, 0, "Duty Cycle at which to start limiting linear velocity", 0.95, 0, 1.0)
grp_wdc.add("kp_wdc", double_t, 0, "KP", 0.0, 0.0, 20.0)
grp_wdc.add("ki_wdc", double_t, 0, "KI", 0.2, 0.0, 5.0)
grp_wdc.add("kd_wdc", double_t, 0, "KD", 0.0, 0.0, 5.0)

exit(gen.generate("mower_speed_limiter", "mower_speed_limiter", "MowerSpeedLimiter"))
