#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator, double_t, int_t, bool_t

gen = ParameterGenerator()

gen.add("battery_voltage", double_t, 0, "battery voltage", 28, 0, 32)
gen.add("temperature_mower", double_t, 0, "battery voltage", 40, 0, 100)
gen.add("is_charging", bool_t, 0, "is charging", False)
gen.add("mower_error", bool_t, 0, "mower error", False)
gen.add("mower_running", bool_t, 0, "mower running", False)
gen.add("wheels_stalled", bool_t, 0, "wheels_stalled", False)
gen.add("emergency_stop", bool_t, 0, "emergency_stop", False)
gen.add("cutter_current", double_t, 0, "cutter_current", 0, 0, 10)
gen.add("cutter_erpm", double_t, 0, "cutter erpm", 6300, 0, 10000)
gen.add("left_wheel_DC", double_t, 0, "left wheel DC", 0, 0, 1)
gen.add("right_wheel_DC", double_t, 0, "right wheel DC", 0, 0, 1)


exit(gen.generate("mower_simulation", "mower_simulation", "MowerSimulation"))
